:root {
    --color-cr-primary : #2d4b69;
    --color-cr-primary-emphasis : #44719E;
    --color-cr-secondary : #EE8169;
    --color-cr-secondary-emphasis : #F39892;
    --color-cr-tertiary: #198754;
    --color-cr-gray: #f2f4f7;
    --color-cr-text: #0A2140;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Raleway,Helvetica,Arial,sans-serif!important;
}

body {
    background-color: var(--color-cr-gray);
    margin: 0;
}

#page {
    margin: 5% 3% 3% 18%;
}
#page>h1 {
    font-weight: bold;
    font-size: 24px;
    padding: 1em 1em 1em 0;
    color: var(--color-cr-primary);
}

#addButton {
    background-color: var(--color-cr-primary);
}

#navbar-custom {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /*background: #df9d02;
    background: -webkit-linear-gradient(0deg, #df9d02 0%, #de4f02 100%);
    background: linear-gradient(0deg, #df9d02 0%, #de4f02 100%);*/
    background: var(--color-cr-primary);
}

#menu {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 15%;
    /*background: #de4f02;
    background: -webkit-linear-gradient(0deg, #de4f02 0%, #df9d02 100%);
    background: linear-gradient(0deg, #de4f02 0%, #df9d02 100%);*/
    background: var(--color-cr-primary);
}

#menu>ul {
    width: 100%;
}

#asideMenu>ul {
    padding-left: 0!important;
    list-style: none!important;
}

#menu>ul>li {
    width: 100%;
    padding: 0;!important;
}

#menu>nav>ul>li>a {
    display: block;
    width: 100%;
    color: whitesmoke;
    color: white;!important;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

#menu>nav>ul>li>a:hover {
    background-color: var(--color-cr-primary-emphasis);
}

.selected {
    background-color: var(--color-cr-primary-emphasis);
}

#asideMenu {
    margin-top: 5em;
}





.spinner {
    position: absolute;
    width: 9px;
    height: 9px;
}

.spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: var(--color-cr-primary);
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
}

.spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
}

.spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
}

.spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
}

.spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
}

.spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
}

.spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
}

.spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
}

.spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
}

.spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
}

@keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }

    50% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
}

/************ Page holidays ***********/
