@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #121212;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 3rem;
    color: #ffcc00;
    text-shadow: 2px 2px 4px #000000;
}

pah2 {
    font-size: 2rem;
    color: #ffcc00;
}

ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2rem;
}

ul li {
    margin-bottom: 10px;
}

.retro-images {
    margin-top: 30px;
}

.retro-images img {
    width: 200px;
    height: auto;
    margin: 10px;
    border: 5px solid #ffcc00;
    border-radius: 10px;
}

.retro-images img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.btn-retro {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border: 3px solid #ff00ff;
    border-radius: 0;
    text-shadow: 2px 2px #ff00ff;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}

.btn-retro:hover {
    color: #000;
    background-color: #ff00ff;
    text-shadow: 2px 2px #000;
    border-color: #000;
}

